@model int

<a class="nav-link px-2" asp-controller="Store" asp-action="Cart" title="Shopping Cart" style="position: relative;">
    <i class="fas fa-shopping-cart"></i>
    @if (Model > 0)
    {
        <span class="cart-badge">@Model</span>
    }
</a>

